.get_started_us {
  background-color: var(--block-footer);
  height: 600px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.sun_boy {
  position: absolute;
  top: -70px;
  right: -70px;
  width: clamp(18.75rem, 14.018rem + 23.66vw, 30.875rem);
  z-index: 5;
  display: none;
}

.get_started_us_text {
  color: var(--white-color);
  min-height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 630px;
  z-index: 10;
  align-items: center;
  padding: 10px;
}

.get_started_us_text h3 {
  font-weight: 600;
  font-size: 64px;
  text-align: center;
}

.get_started_us_text p {
  opacity: 0.8;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.get_started_us_text > .btn {
  background: var(--white-color);
}
.get_started_us_text > .btn a {
  color: black;
}

.get_started_us_text > .btn .arrow_wrap {
  background: var(--btn-color-grey);
}
