@media screen and (max-width: 768px) {
  body {
    margin-left: 30px;
    margin-top: -30px;
  }
  .sidebar {
    width: 768px;
    height: 100px;
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    border-radius: 0px;
    position: fixed;
    ul {
      display: flex;
      flex-direction: row;
      .blue {
        background-color: var(--color_gray);
        width: 100px;
      }
      li {
        width: 100px;
        height: 50px;

        img {
          display: none;
        }
      }
    }
    p {
      display: none;
    }
  }
  .sidebar_item_one {
    display: none;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .aside_main_1 {
    display: none;
  }
  .aside_container {
    margin-left: -10px;
  }
  .main_item_1 {
    display: none;
  }
  .main_item_2 {
    margin-top: 80px;
  }
  .main_item_3 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .main_item_1 {
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.331);
    margin: -10px -10px 0px -40px;
    .wrapper_1 {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      p {
        margin-top: 16px;
        margin-left: 50px;
        color: var(--color_gray);
        font-size: 20px;
        font-weight: 600;
        opacity: 1;
      }
    }
    img {
      display: block;
      width: 25px;
      height: 25px;
      margin-top: 20px;
      margin-right: 30px;
    }
    .wrapper_2 {
      display: none;
    }
  }
  .sidebar {
    display: none;
  }
  .wrapper_4 {
    p {
      display: none;
    }
  }
  .main {
    width: 500px;
  }
  .main_item_3 {
    width: 500px;
    table {
      width: 500px;
      #none {
        display: none;
      }
      #green {
        display: none;
      }
      #red {
        display: none;
      }
    }
  }
  .main_item_2 {
    width: 500px;
    margin-top: -10px;
  }
}
