@media screen and (min-width: 576px) {
  .our_works_photo_item > img {
    border-radius: 10%;
    height: var(--height-photo_item);
  }
  .get_started_us_text {
    align-items: start;
    padding-left: clamp(1.25rem, -0.701rem + 9.76vw, 6.25rem);
  }

  .get_started_us_text h3 {
    text-align: start;
  }

  .get_started_us_text p {
    text-align: start;
  }
}

@media screen and (min-width: 992px) {
  .section_general {
    flex-flow: row nowrap;
    justify-content: center;
  }
  .text_block {
    text-align: start;
    max-width: 438px;
    min-height: 600px;
    align-items: start;
  }
  .section_two {
    flex-direction: row;
  }
  .section_two_item_wrapper {
    width: 50%;
  }
  .section_two_text_block {
    max-width: 435px;
    text-align: start;
  }
  .floral_design > h3 {
    width: 570px;
    text-align: start;
  }
  .floral_design_wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  .floral_design_text {
    align-items: flex-start;
    padding-bottom: 0;
  }
  .floral_design_text > p {
    text-align: start;
  }
  .floral_design_item {
    height: 800px;
  }
  .floral_design_wrapper > .floral_design_item:nth-child(1) {
    align-items: flex-start;
    justify-content: space-between;
  }
  .floral_design_wrapper > .floral_design_item:nth-child(2) {
    justify-content: center;
    align-items: center;
  }
  .floral_design_wrapper > .floral_design_item:nth-child(3) {
    align-self: flex-end;
    align-items: flex-end;
  }
  .tab_next_wrapper {
    position: absolute;
    right: 0;
    bottom: -40px;
  }
  .sun_boy {
    position: absolute;
    top: -70px;
    right: -70px;
    width: clamp(18.75rem, 14.018rem + 23.66vw, 30.875rem);
    z-index: 5;
    display: block;
  }

  .footer {
    justify-content: space-between;
    flex-flow: row wrap;
  }
}
