:root {
  --container: 1440px;
  --color_text_li_sidebar: #ffffff;
  --color_white: #ffffff;
  --color_gray: #1c1d21;
  --background: #f3f5f9;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: var(--container);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar {
  width: 268px;
  height: 960px;
  background-color: #1c1d21;
  margin: 32px 40px 32px 32px;
  border-radius: 30px;
}
.sidebar p {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--color_white);
  margin-left: 32px;
}
.sidebar li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.sidebar li p {
  color: var(--color_text_li_sidebar);
  margin: 10px 0px 14px 15px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sidebar .blue {
  background-color: #0066fe;
  margin-left: -10px;
  border-radius: 10px;
  width: 220px;
}
.sidebar .blue img {
  margin-left: 12px;
}
.sidebar .blue .end {
  margin-left: 70px;
}

.sidebar_item_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.sidebar_item_one img {
  margin: 39px 0px 75px 32px;
}
.sidebar_item_one p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: var(--color_white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -27px 90px 0px 10px;
}

.footer_sidebar {
  margin-top: 246px;
  margin-bottom: 59px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 660px;
  margin: 40px 0px 0px 0px;
}

.main_item_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper_1 h3 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: var(--color_gray);
  margin-bottom: 0px;
}
.wrapper_1 p {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
  color: var(--color_gray);
  margin-top: 8px;
}

.wrapper_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f3f5f9;
  border-radius: 10px;
  width: 275px;
  height: 50%;
  margin-top: 20px;
}
.wrapper_2 p {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
  color: var(--color_gray);
  opacity: 0.5;
  margin: 12px 38px 12px 16px;
}
.wrapper_2 img {
  padding-right: 19px;
}

.main_item_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 64px;
}
.main_item_2 h2 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: var(--color_gray);
  margin-bottom: -10px;
}
.main_item_2 p {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
  color: var(--color_gray);
}
.main_item_2 h1 {
  font-size: 50px;
  color: #1b224a;
  margin-top: 16px;
  margin-bottom: -10px;
}
.main_item_2 h1 span {
  color: blue;
}
.main_item_2 .wrapper_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.main_item_2 .wrapper_3_item_1 {
  background: #1c1d21;
  border-radius: 10px;
  width: 174px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main_item_2 .wrapper_3_item_1 p {
  color: var(--color_white);
}
.main_item_2 .wrapper_3_item_2 {
  background: #f3f5f9;
  margin-left: 12px;
  border-radius: 10px;
  width: 174px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main_item_2 .wrapper_3_item_2 p {
  color: var(--color_gray);
}

.main_item_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main_item_3 .wrapper_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main_item_3 .wrapper_4 h2 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: var(--color_gray);
}
.main_item_3 .wrapper_4 p {
  font-weight: 400;
  color: var(--color_gray);
  font-size: 16px;
  margin-bottom: 45px;
}
.main_item_3 .wrapper_5 table {
  width: 660px;
}
.main_item_3 .wrapper_5 table td {
  border-bottom: 1px solid #efeff5;
  padding-bottom: 24px;
}
.main_item_3 .wrapper_5 table #green {
  color: #34c759;
}
.main_item_3 .wrapper_5 table #red {
  color: #ff6b6b;
}
.main_item_3 .wrapper_5 table h4 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color_gray);
  margin-bottom: -20px;
}
.main_item_3 .wrapper_5 table p {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
  color: var(--color_gray);
}
.main_item_3 .opacity {
  color: #687d8c;
  opacity: 0.6;
}

.aside_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 50px 40px 0px 40px;
}

.aside_main_2 h1 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.aside_main_2 p {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
  color: var(--color_gray);
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--background);
  height: 72px;
  border-radius: 12px;
}
.aside_main_2 .asside_bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.aside_main_2 .asside_bl .aside_bl_one {
  width: 220px;
  height: 72px;
  border-radius: 12px;
  background-color: var(--background);
}
.aside_main_2 .asside_bl .aside_bl_one h3 {
  margin: 20px 0px 21px 20px;
  font-family: "Lexend";
  font-weight: 600;
}
.aside_main_2 .aside_bl_two {
  width: 150px;
  height: 72px;
  background-color: var(--background);
  border-radius: 12px;
  margin-left: 20px;
}
.aside_main_2 .aside_bl_two a {
  color: var(--color_gray);
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 17px 4px 16px;
}
.aside_main_2 .aside_bl_two h3 {
  font-size: 22px;
  font-family: "Lexend";
  font-weight: 500;
  margin: 0px 72px 11px 16px;
}
.aside_main_2 .aside_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.aside_main_2 .aside_button h4 {
  width: 175px;
  height: 72px;
  background-color: var(--color_gray);
  color: var(--color_white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  font-family: "Lexend";
  font-size: 16px;
}
.aside_main_2 .aside_button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 40px;
}

.aside_main_3 h1 {
  font-family: "Lexend";
  font-weight: 600;
  font-size: 26px;
  color: var(--color_gray);
}
.aside_main_3 h5 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
  color: var(--color_gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.aside_main_3 span {
  color: var(--color_gray);
  font-size: 16px;
}
.aside_main_3 table {
  width: 470px;
}
.aside_main_3 table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #efeff5;
  padding-bottom: 24px;
}
.aside_main_3 table h4 {
  font-family: "Lexend";
  font-size: 16px;
  color: var(--color_gray);
}
.aside_main_3 table p {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
  color: var(--color_gray);
  margin-top: -20px;
}

@media screen and (min-width: 576px) {
  .our_works_photo_item > img {
    border-radius: 10%;
    height: var(--height-photo_item);
  }
  .get_started_us_text {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding-left: clamp(1.25rem, -0.701rem + 9.76vw, 6.25rem);
  }
  .get_started_us_text h3 {
    text-align: start;
  }
  .get_started_us_text p {
    text-align: start;
  }
}
@media screen and (min-width: 992px) {
  .section_general {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .text_block {
    text-align: start;
    max-width: 438px;
    min-height: 600px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .section_two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .section_two_item_wrapper {
    width: 50%;
  }
  .section_two_text_block {
    max-width: 435px;
    text-align: start;
  }
  .floral_design > h3 {
    width: 570px;
    text-align: start;
  }
  .floral_design_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .floral_design_text {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 0;
  }
  .floral_design_text > p {
    text-align: start;
  }
  .floral_design_item {
    height: 800px;
  }
  .floral_design_wrapper > .floral_design_item:nth-child(1) {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .floral_design_wrapper > .floral_design_item:nth-child(2) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .floral_design_wrapper > .floral_design_item:nth-child(3) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .tab_next_wrapper {
    position: absolute;
    right: 0;
    bottom: -40px;
  }
  .sun_boy {
    position: absolute;
    top: -70px;
    right: -70px;
    width: clamp(18.75rem, 14.018rem + 23.66vw, 30.875rem);
    z-index: 5;
    display: block;
  }
  .footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}
/*# sourceMappingURL=main.css.map */