<section class="floral_design">
  <h3>Floral Design in a event planning company</h3>
  <div class="floral_design_wrapper">
    <div class="floral_design_item">
      <div class="floral_design_text">
        <p>
          Your ceremony & reception venues, your vision, your dress, your
          colours and anything else you would like to share with us. I am a Gold
          Coast and Brisbane.
        </p>
        <button class="btn">
          <a href="#">
            Get in Touch
            <span class="arrow_wrap">
              <span></span>
            </span>
          </a>
        </button>
      </div>

      <div class="floral_design_flower">
        <div class="flower_img_one"></div>
        <div class="flower_text"><span>01</span>/18</div>
      </div>
    </div>

    <div class="floral_design_item">
      <div class="floral_design_flower">
        <div class="flower_img_two"></div>
        <div class="flower_text"><span>02</span>/18</div>
      </div>
    </div>

    <div class="floral_design_item">
      <div class="floral_design_flower">
        <div class="flower_img_three"></div>
        <div class="flower_text"><span>03</span>/18</div>
      </div>
    </div>
  </div>

  <div class="tab_next_wrapper">
    <div class="tab">
      <div class="tab_item tab_active"></div>
      <div class="tab_item"></div>
    </div>
    <p>Next</p>
  </div>
</section>
