<section class="get_started_us">
  <div class="get_started_us_text">
    <h3>Get Started With Us</h3>
    <p>
      Your ceremony & reception venues, yourvision, your dress, your colours and
      anythingelse you would like to share with us.
    </p>
    <button class="btn">
      <a href="#">
        Get in Touch
        <span class="arrow_wrap">
          <span></span>
        </span>
      </a>
    </button>
  </div>

  <img src="img/pictures/boy.png" alt="boy" class="sun_boy" />
</section>
