<header class="header">
  <div class="header_logo_wrap">
    <a href="#">
      <img src="img/svg/logo.svg" alt="logo" />
    </a>
  </div>
  <input type="checkbox" id="burger" hidden />
  <label for="burger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="header_list_wrap">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Photo</a>
      </li>
      <li>
        <a href="#">Photograpy</a>
      </li>
      <li>
        <a href="#">Photoshoots</a>
      </li>
    </ul>
  </nav>
  <div class="btn_youtube_wrap">
    <button class="btn_youtube">
      <a href="#">
        <span>Youtube</span>
        <img src="img/svg/play.svg" alt="play" />
      </a>
    </button>
  </div>
</header>
