<div class="main">
  <div class="main_item_1">
    <div class="wrapper_1">
      <h3>Welcome Back!</h3>
      <p>Ricardo Thompson</p>
    </div>
    <div class="wrapper_2">
      <p>Search transactions...</p>
      <img src="../img/svg/search.svg" alt="search" srcset="" />
    </div>
  </div>
  <div class="main_item_2">
    <h2>Total Balance</h2>
    <p>USDC Balance</p>
    <h1>54,819.74 <span>USDC</span></h1>
    <p>Wallet ID: 2QVT7C0LOWEJ</p>
    <div class="wrapper_3">
      <div class="wrapper_3_item_1">
        <p>Deposit</p>
      </div>
      <div class="wrapper_3_item_2">
        <p>Withdraw</p>
      </div>
    </div>
  </div>
  <div class="main_item_3">
    <div class="wrapper_4">
      <h2>Recent Transactions</h2>
      <p>View All&#11015;</p>
    </div>
    <div class="wrapper_5">
      <table>
        <tr class="opacity">
          <td>Wallet ID</td>
          <td>Date</td>
          <td>Amount</td>
          <td>Status</td>
        </tr>
        <tr>
          <td>
            <h4>DY04210S0XA5</h4>
            <p>Hash: 2111853732263042</p>
          </td>
          <td>May 23, 2022</td>
          <td>$250.00</td>
          <td id="green">Completed</td>
        </tr>
        <tr>
          <td>
            <h4>PILMA81KS4JA</h4>
            <p>Hash: 0348408522616817</p>
          </td>
          <td>May 19, 2022</td>
          <td>$980.00</td>
          <td id="green">Completed</td>
        </tr>
        <tr>
          <td>
            <h4>JV72FR6TIL1S</h4>
            <p>Hash: 1555845473775037</p>
          </td>
          <td>May 15, 2022</td>
          <td>$290.00</td>
          <td id="red">Failed</td>
        </tr>
      </table>
    </div>
  </div>
</div>
