<section class="our_works">
  <div class="our_works_text">
    <h3>Our Awesome Works</h3>
    <p>See what we shooted</p>
  </div>
  <div class="our_works_photo">
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/1.png" alt="1" />
    </div>
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/2.png" alt="2" />
    </div>
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/3.png" alt="3" />
    </div>
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/4.png" alt="4" />
    </div>
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/5.png" alt="5" />
    </div>
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/6.png" alt="6" />
    </div>
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/7.png" alt="7" />
    </div>
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/8.png" alt="8" />
    </div>
    <div class="our_works_photo_item">
      <img src="img/pictures/our_works/9.png" alt="9" />
    </div>
  </div>
</section>
