<section class="section_general">
  <div class="text_block">
    <h1>Where creative process happens</h1>
    <p>Your creativity, our inspiration Whatever your story, set if free.</p>
    <button class="btn">
      <a href="#">
        Get in Touch
        <span class="arrow_wrap">
          <span></span>
        </span>
      </a>
    </button>
  </div>
  <div class="photo_block">
    <div class="big_photo">
      <img src="img/pictures/photo.jpg" alt="photo" />
    </div>
    <div class="small_photo">
      <div>
        <img src="img/pictures/photo_2.jpg" alt="" />
      </div>
      <div>
        <img src="img/pictures/photo_girl.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
