<section class="section_choose">
  <h3>Why Choose us</h3>
  <div class="choose_block">
    <div class="choose_block_item">
      <div class="choose_img_wrap">
        <img src="img/svg/photo.svg" alt="" />
      </div>
      <div class="choose_text_block">
        <h5>Professional editing</h5>
        <p>Your creativity our inspiration. Whate ever your want</p>
      </div>
    </div>
    <div class="choose_block_item">
      <div class="choose_img_wrap">
        <img src="img/svg/cross.svg" alt="" />
      </div>
      <div class="choose_text_block">
        <h5>Long hour shoots</h5>
        <p>Your creativity our inspiration. Whate ever your want</p>
      </div>
    </div>
    <div class="choose_block_item">
      <div class="choose_img_wrap">
        <img src="img/svg/camera.svg" alt="" />
      </div>
      <div class="choose_text_block">
        <h5>Extensive equipment</h5>
        <p>Your creativity our inspiration. Whate ever your want</p>
      </div>
    </div>
  </div>
</section>
