<section class="section_two">
  <div class="section_two_item_wrapper">
    <div class="section_two_photo_block">
      <div>
        <img src="img/pictures/unsplash.png" alt="unsplash" />
      </div>
      <div>
        <img src="img/pictures/10.png" alt="10" />
      </div>
    </div>
  </div>

  <div class="section_two_item_wrapper">
    <div class="section_two_text_block">
      <h2>get to know</h2>
      <h3>Why we make it happens</h3>
      <p>
        Your ceremony & reception venues, your vision, your dress, your colours
        and anything else you would like.
      </p>
      <button class="btn">
        <a href="#">
          Get in Touch
          <span class="arrow_wrap">
            <span></span>
          </span>
        </a>
      </button>
    </div>
  </div>
</section>
