<div class="sidebar">
  <div class="sidebar_item_one">
    <img src="../img/svg/easypay.svg" alt="easypay" srcset="" />
    <p>EasyPay</p>
  </div>
  <p>Main Menu</p>
  <ul>
    <li class="blue">
      <img src="../img/svg/dashboard.svg" alt="dashboard" srcset="" />
      <p>Dashboard</p>
      <img class="end" src="../img/svg/planka.svg" alt="planka" srcset="" />
    </li>
    <li>
      <img src="../img/svg/transaction.svg" alt="transaction" srcset="" />
      <p>Transactions</p>
    </li>
    <li>
      <img src="../img/svg/tarnsfer.svg" alt="tarnsfer" srcset="" />
      <p>Transfer</p>
    </li>
    <li>
      <img src="../img/svg/deposit.svg" alt="deposit" srcset="" />
      <p>Deposit</p>
    </li>
    <li>
      <img src="../img/svg/withdraw.svg" alt="withdraw" srcset="" />
      <p>Withdraw</p>
    </li>
    <li>
      <img src="../img/svg/payments.svg" alt="payments" srcset="" />
      <p>Payments</p>
    </li>
    <li>
      <img src="../img/svg/messages.svg" alt="messages" srcset="" />
      <p>Messages</p>
    </li>
  </ul>
  <div class="footer_sidebar">
    <ul>
      <li>
        <img src="../img/svg/account.svg" alt="account" srcset="" />
        <p>Account</p>
      </li>
      <li>
        <img src="../img/svg/setting.svg" alt="setting" srcset="" />
        <p>Settings</p>
      </li>
    </ul>
  </div>
</div>
